<div class="consumer-main-container">
    <div class="consumer-main-container-header">
        <app-consumer-side-bar></app-consumer-side-bar>
    </div>

    <div class="consumer-main-container-body">
        <app-consumer-top-bar></app-consumer-top-bar>
        <nav aria-label="breadcrumb m-0 p-0">
            <ol class="breadcrumb m-0 bg-transparent pt-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Data</li>
            </ol>
        </nav>
    </div>
</div>