<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-2 d-none d-md-block d-lg-block d-xs-block p-0">
            <app-consumer-side-bar></app-consumer-side-bar>
        </div>
        <div class="col p-0">
            <app-consumer-top-bar></app-consumer-top-bar>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <p>
                            <button class="btn btn-primary">Hola soy un boton</button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>