<!--<div class="container-fluid">

    <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xl-12">
           <p class="font-weight-lighter text-muted">Admin <i class="fas fa-angle-double-right"></i> Home <i class="fas fa-angle-double-right"></i> Appointments</p> 
        </div> 
    
    </div>

</div>


-->
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-dark
        ">
          <li class="breadcrumb-item "><a href="#" class="text-white">Home</a></li>
          <li class="breadcrumb-item"><a href="#"class="text-white">Library</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
</div>
